@media only screen and (max-width: 1750px) {
  .carousel {
    width: 95%;
  }
}

@media only screen and (max-width: 1675px) {
  .carousel {
    width: 85%;
  }
}

@media only screen and (max-width: 1430px) {
  .carousel {
    width: 80%;
  }
}

@media only screen and (max-width: 1430px) {
  .carousel {
    width: 68%;
  }
}

@media only screen and (max-width: 1190px) {
  .carousel {
    width: 60%;
  }
}

@media only screen and (max-width: 1024px) {
  .carousel {
    display: none;
  }
}
