<div class="product-list">
  <div class="grid">
    <div class="col" *ngFor="let product of products">
      <div class="product-item">
        <p-card
          class="product-item-card"
          [header]="product.name"
          [subheader]="product.info"
          styleClass="p-card-shadow"
        >
          <ng-template pTemplate="header">
            <div class="img">
              <img alt="Card" src="assets/images/{{ product.img }}" />
            </div>
          </ng-template>
          <p class="product-item-sales">
            $ {{ product.cost }}
            <span style="color: rgb(170, 175, 175); font-size: 14px"
              >per {{ product.per }}</span
            >
          </p>
          <p class="product-item-price">
            $ {{ product.price }}
            <span style="color: rgb(170, 175, 175); font-size: 14px"
              >per {{ product.per }}</span
            >
          </p>
          <p class="product-item-rating">
            <p-rating [(ngModel)]="product.rating" [cancel]="false"></p-rating>
          </p>
        </p-card>
      </div>
    </div>
  </div>
</div>
