.sidebar {
  width: 100%;
  padding: 10px;

  &-title {
    font-size: 3rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
  }

  &-menu {
    margin-bottom: 70px;
    .sidebar-item {
      margin: 40px 0;
      a {
        display: inline-block;

        i {
          margin-right: 20px;
          font-size: 1.4rem;
          color: #333;
          font-weight: 600;
        }

        span {
          font-size: 1.4rem;
          color: #333;
          font-weight: 600;
        }
      }
    }
  }

  &-sortBy {
    width: 100%;

    .sortBy-title {
      font-size: 0.9rem;
      font-weight: 800;
      color: #000;
      margin-bottom: 10px;
    }
    .item-price {
      width: 100%;
      padding: 10px 0;
      label {
        font-size: 1.2rem;
        font-weight: 400;
        margin-left: 15px;
      }
    }
  }

  &-montthly-price {
    margin-top: 50px;

    .montthly-title {
      margin-bottom: 5px;
      font-weight: 600;
    }

    .montthly-slider {
      margin-left: 15px;
    }

    h5 {
      margin-top: 15px;
      font-weight: 700;
    }
  }

  &-rental-period {
    margin-top: 60px;

    p {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .period-content {
      width: 100%;
      border-radius: 50px;
      border: 1px solid #ddd8d8;
      margin-left: 10px;

      .btn-rounded {
        display: inline-block;
        width: 50px;
        height: 50px;
        outline: none;
        border-radius: 50%;
        margin-right: 39px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        line-height: 25px;
        text-align: center;

        &:last-child {
          margin-right: 0;
        }

        a {
          position: relative;
          top: 14px;
          font-size: 1rem;
          font-weight: 500;
          color: #b4b3b3;
        }
      }
      .active {
        background-color: #9f0003;
        transform: scale(1.2);
        a {
          color: #fff;
        }
      }
    }
  }

  &-laptop-brand {
    margin-top: 80px;
    text-transform: uppercase;

    .brand-title {
      font-size: 1.2rem;
      color: #333;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .checkbox-item {
      margin: 15px 0;
    }

    label {
      margin-left: 25px;
      font-size: 1.1rem;
      font-weight: 500;
      color: #746f6f;
    }
  }
}

// IPad
@media only screen and (max-width: 1024px) {
  .sidebar {
    &-menu {
      .sidebar-item {
        a {
          i {
            font-size: 1.1rem;
          }

          span {
            font-size: 1.1rem;
          }
        }
      }
    }

    &-rental-period {
      p {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 20px;
      }

      .period-content {
        width: 100%;
        border-radius: 50px;
        border: 1px solid #ddd8d8;
        margin-left: 10px;

        .btn-rounded {
          width: 30px;
          height: 30px;
          margin-right: 27px;
          line-height: 15px;
          text-align: center;

          &:last-child {
            margin-right: 0;
          }

          a {
            top: 7px;
            font-size: 0.8rem;
          }
        }
      }
    }

    &-laptop-brand {
      .brand-title {
        font-size: 1rem;
      }
      label {
        font-size: 0.8rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    &-title {
      font-size: 2.2rem;
    }

    &-menu {
      .sidebar-item {
        a {
          i {
            font-size: 1rem;
          }

          span {
            font-size: 1rem;
          }
        }
      }
    }

    &-sortBy {
      .sortBy-title {
        font-size: 0.8rem;
      }
      .item-price {
        label {
          font-size: 1rem;
        }
      }
    }

    &-montthly-price {
      .montthly-title {
        font-size: 13px;
      }

      h5 {
        font-size: 13px;
      }
    }

    &-rental-period {
      p {
        font-size: 14px;
      }

      .period-content {
        width: 100%;
        border-radius: 50px;
        border: 1px solid #ddd8d8;
        margin-left: 10px;

        .btn-rounded {
          width: 40px;
          height: 40px;
          margin-right: 3px;
          line-height: 20px;
          text-align: center;

          &:last-child {
            margin-right: 0;
          }

          a {
            top: 11px;
            font-size: 15px;
          }
        }
        .active {
          transform: scale(1.1);
        }
      }
    }

    &-laptop-brand {
      .brand-title {
        font-size: 1rem;
      }
      label {
        font-size: 0.8rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .sidebar {
    height: 420px;

    &-title {
      font-size: 2.2rem;
      margin-bottom: 20px;
    }

    &-menu {
      display: flex;
      flex-wrap: wrap;
      .sidebar-item {
        width: 265px;
        height: 96px;
        background-color: #f1f1f1;
        text-align: center;
        margin: auto;
        margin-bottom: 10px;
        line-height: 96px;
        border-radius: 10px;

        &:hover {
          background-color: #fff;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          i {
            position: relative;
            top: 23px;
            left: 7px;
          }

          span {
            font-size: 18px;
          }
        }
      }
    }

    &-sortBy {
      display: none;
    }

    &-montthly-price {
      display: none;
    }

    &-rental-period {
      display: none;
    }

    &-laptop-brand {
      display: none;
    }
  }
}
